<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->
    <bean id="draw2DTool"
          class="tools.Draw2D">
    </bean>
    <bean id="draw3DTool"
          class="tools.Draw3D">
    </bean>

<!--    <bean id="circle"-->
<!--          class="shapes.Circle">-->
<!--        <constructor-arg ref="draw2DTool"/>-->
<!--        <constructor-arg ref="draw3DTool"/>-->

<!--    </bean>-->

<!--    <bean id="square"-->
<!--          class="shapes.Square">-->
<!--        <constructor-arg ref="draw2DTool"/>-->
<!--        <constructor-arg ref="draw3DTool"/>-->

<!--    </bean>-->
<!--    -->
    <bean id="circle"
          class="shapes.Circle">
        <property name="draw2DShape" ref="draw2DTool"/>
        <property name="draw3DShape" ref="draw3DTool"/>

    </bean>

    <bean id="square"
          class="shapes.Square">
        <property name="draw2DShape" ref="draw2DTool"/>
        <property name="draw3DShape" ref="draw3DTool"/>

    </bean>


</beans>



